

.home-content{
    text-align: center;
}

.home-content button {
    padding: 15px;
    border: 3px solid white;
    background-color: #808080;
}

.fa {
    font-size: 22px;
    padding-top: 20px;
}


.social-accounts ul {
    list-style-type: none;
    margin-left: -20px;
    margin-top: 25px;
}

.social-accounts {    
    color: white;
    position: fixed;
    background-color: #1e1e1e;
    padding-right: 20px;
}

.items {
    text-align: center;
}

.what-i-do {
    display: flex;
    gap: 70px;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 700px) {
    .what-i-do {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

.testimonials h1{
    text-align: center;
    padding-bottom: 10px;
}

.testimonials {
    margin-bottom: 300px;
    margin-top: -150px;
}

.my-clients {
    display: flex;
    gap: 20px;
    margin-left: 300px;
    margin-right: 300px;
    max-width: 90%;
}

.fa-quote-left {
    color: rgb(172, 83, 72);
}

.client p{
    padding-left: 35px;
}

.client .description {
    display: flex;
    float: right;
}

.client .description img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -2px;
}

.client .description p {
    padding-right: 15px;
}

@media only screen and (max-width: 700px) {
    .my-clients {
        display: inline-block;
        max-width: 95%;
        margin: 20px;
    }
    .testimonials {
        margin-top: 20px;
    }
    .social-accounts {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .my-clients {
        margin: 40px;
    }
    .testimonials h1 {
        margin-bottom: -25px;
        margin-top: 40px;
    }
}

.myname {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #423d6d, 0 0 40px #4b4788, 0 0 50px #b1922e, 0 0 60px #ba9ed1, 0 0 70px #b0b9e0;
}