.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: #bcb4b4;
  text-align: center;
  padding: 10px;
  /* font-size: 20px; */
}

.topnav {
  position: sticky;
  width: 100%;
  background-color: #262626;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .about-img {
    display: none;
  }
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */ 
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e; /* Gray border */
  color: white;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #1e1e1e; /* Gray border */
  background-color: #1e1e1e;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #1e1e1e;
  color: black;
  background-color: #bcb4b4;
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 120px;
  margin-bottom: 10%;
}

/* Add a background color and some padding around the form */
.content {
  border-radius: 5px;
  background-color: #262626;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
    margin-bottom: 30%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  grid-column: 2 / 4;
  justify-content: center;
  margin-bottom: 15%;
  font-size: 18px;
  gap: 20px;
  cursor: pointer;
}

.p-img {
  width: 400px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: inline-block;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .p-img {
    width: 100%;
  }
}

.vertical-line {
  border-left: 2px solid white;
  height: 300px;
  margin-left: 80px;
  margin-top: 60px; 
  margin-right: -250px;
}

.my-contact {
  display: flex;
}

.c-address {
  margin-left: 25%;
  margin-top: 60px;
}

.c-address p {
  padding: 15px;
  background-color: #1e1e1e;
  padding-left: 20px;
  padding-right: 80px;
}

.c-address i {
  padding-right: 10px;
  padding: 15px;
  background-color: #262626;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .vertical-line {
    display: none;

  }
  .c-address {
    display: none;
  }
  .content {
    width: 90%;
  }
  
}

.project-paragraph {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}