body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #bcb4b4;
  background-color: #262626;
  font-size: 18px;
  position: relative;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

ul.header {
    padding: 0;
    text-align: center;
  }

ul.header li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  position: relative;
}

ul.header li a:hover {
  border-bottom: 2px solid white;
}

.header .active {
  padding-right: 20px;
  margin-top: -19px;
}

.header .icon {
  display: none;
}

.header {
  display: flex;

  justify-content: center;
}

.header .active:hover {
  border-bottom: 0px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #423d6d, 0 0 40px #4b4788, 0 0 50px #b1922e, 0 0 60px #ba9ed1, 0 0 70px #b0b9e0;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .row {
    display: block;
  }
    .header .active{
    /* margin-left: -140px; */
    padding-right: 100px;
    margin-top: 2px;
  }
}

@media screen and (max-width: 750px) {
  .header .active{
    /* margin-left: -140px; */
    padding-right: 120px;
  }
  .nav-items {
    display: none;
  }
.header .icon {
    display: block;
    float: right;
}
.header .icon:hover {
  border-bottom: 0px;
}
.topnav.responsive a {
  float: lrft; 
  display: block;
  text-align: left;
  }
}