body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #bcb4b4;
  background-color: #262626;
  font-size: 18px;
  position: relative;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  justify-content: center;
}

ul.header {
    padding: 0;
    text-align: center;
  }

ul.header li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  position: relative;
}

ul.header li a:hover {
  background-color: rgb(247, 244, 244);
}

@media screen and (max-width: 650px) {
  .row {
    display: block;
  }
}